/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #474d5d;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #393e4b;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #474954;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #474954
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #474954;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #474954;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #474954;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("Images/hhh.jpeg")no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #474954;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #474954;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #474954;
  background-color: #fff;
  color: #474954;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #474954;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #474954;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #474954;
  background-color: #fff;
  color: #474954;
}

 /* My Skills CSS */
 .skills{
   background: #F0F8FF;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #474954;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #474954;
}
/* Importing fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Declaring variable  */

:root {
    --color-scheme: #00d698;
    --bg1: #212529;
    --bg2: #373c43;
    --dark: #111418;
}

/* Reseting margin padding, and other values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* Declaring classes for later use  */

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-centre {
    text-align: center;
}

.margin {
    margin: 0rem 3rem;
}

.margin-bottom {
    margin-bottom: 5rem;
}

.color-scheme {
    color: var(--color-scheme);
}

.grey {
    color: #909294;
}

.grey-icon {
    filter: opacity(70%);
}

.white {
    color: white;
}

.para {
    line-height: 1.8;
    margin-top: 1rem;
}

/* Custom Scroll Bar CSS */
/* Remove the bottom slide bar */
::-webkit-scrollbar {
  display: none;
}

/* Fix the size of the navbar */
nav .navbar{
max-width: 1200px; /* Set your desired maximum width */
margin: 0 auto; /* Center the navbar */
}


.bg1 {
    background-color: var(--bg1);
}

.bg2 {
    background-color: var(--bg2);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    margin-left: 5rem;
}

/* Section Title Heading */

.section-title {
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem 0rem;
}

.text {
    position: absolute;
    width: 100%;
    text-align: center;
}

.inner {
    font-size: calc(1.95rem + 8.4vw);
    font-weight: 600;
    opacity: 0.05;
}

.upper {
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 1;
    top: 5.5rem;
}

.underline {
    display: block;
    border-bottom: 0.2rem solid var(--color-scheme);
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.facebook:hover,
.facebook:focus,
.linkedin:focus,
.linkedin:hover {
    filter: invert(53%) sepia(79%) saturate(7496%) hue-rotate(198deg) brightness(103%) contrast(101%);
}

.instagram:hover,
.instagram:focus {
    filter: invert(44%) sepia(55%) saturate(2401%) hue-rotate(270deg) brightness(86%) contrast(107%);
}

.github:hover,
.github:focus {
    filter: invert(76%) sepia(17%) saturate(132%) hue-rotate(171deg) brightness(91%) contrast(86%);
}

.social-nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
}

.social-nav-icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--bg1);
    border-radius: 50%;
}

.social-nav-icon img {
    width: 1.8rem;
}

.social-nav li {
    margin-right: 1rem;
}

/* Home Section */


/* About Section  */

.about {
    background-color: var(--bg1);
    width: 100%;
}

.intro-container {
    height: 21rem;
    display: flex;
    justify-content: space-around;
}

.intro {
    width: 55%;
}

.dp {
    width: 20%;
}

.dp img {
    height: 13rem;
    width: 13rem;
    border: 0.5rem solid var(--bg2);
    border-radius: 50%;
}

.detail {
    width: 22%;
}

.detail-list {
    border-bottom: 0.1rem solid var(--bg2);
    padding: 1rem 0rem;
}

.button {
    background-color: var(--color-scheme);
    font-size: 1.1rem;
    font-weight: bold;
    border: 0.2rem solid var(--color-scheme);
    border-radius: 1.5rem;
    height: 3.2rem;
    width: 14rem;
    transition: all 0.5s ease-out;
    margin: 2rem 0rem;
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}

.accomplishment {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.accomplishment-list {
    width: 25%;
    height: 7rem;
    text-align: center;
}

.accomplishment-list h2 {
    font-size: 3rem;
}

.l2,
.l3 {
    border-left: 0.1rem solid var(--bg2);
    border-right: 0.1rem solid var(--bg2);
}

/* What I Do Section */

.what-i-do {
    background-color: var(--bg2);
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-list {
    display: flex;
    height: auto;
    width: 48%;
    margin-top: 4rem;
}

.services-list .image {
    height: 5rem;
    width: 15%;
    background: var(--bg1);
    border-radius: 15%;
}

.services-list .image img {
    width: 2.5rem;
}

.services-detail {
    margin-left: 2rem;
    height: auto;
    width: 85%;
}

/* Resume Section */

.resume {
    background-color: var(--bg1);
    display: block;
    width: 100%;
}

.resume-container,
.skill-list {
    display: flex;
}
/* check */
.tile-container {
    width: 50%;
}

.education {
    margin-right: 2rem;
}

.experiance {
    margin-left: 2rem;
}

.tile {
    height: 15rem;
    max-width: 100%;
    background-color: var(--dark);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile-margin {
    margin: 1.5rem 0rem;
}

.tile>*,
.contact>* {
    margin: 1rem 1rem 0rem 1rem;
}

.yearbg {
    width: 8rem;
    height: 1.5rem;
    background-color: var(--color-scheme);
    border-radius: 0.25rem;
    text-align: center;
}

.progressbar {
    height: 0.6rem;
    width: 100%;
    background-color: #111418;
    border-radius: 2rem;
}

.bar {
    height: 100%;
    background-color: aqua;
    border-radius: 2rem;
}

.skill-list img {
    width: 2rem;
}

.skill-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.mywork {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project {
    height: 26rem;
    width: 80%;
    max-width: 100%;
    background-color: var(--dark);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 6rem;
}

.project-margin>* {
    margin: 1rem 8rem 0rem 1rem;
}

.project-btn-container {
    display: flex;
}

.project-button {
    height: 2.5rem;
    width: 8rem;
    margin-top: 0rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

iframe {
    height: 20rem;
    width: 50%;
    border-radius: 0.8rem;
    position: relative;
    top: 1.5rem;
    right: 6rem;
}

/* Contact Section */

.contact {
    width: 98%;
    height: 34rem;
    margin-left: 0rem;
}

input,
textarea {
    background-color: var(--bg2);
    border: 0.5rem solid var(--bg2);
    border-radius: 0.5rem;
}

input {
    height: 3rem;
    width: 49%;
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    height: 12rem;
}

form>* {
    font-size: 1.1rem;
}



/* My Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: #474954;
  color: #fff;
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #474954;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #474954;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
/* Contact Me CSS */
.contact{
  background: #F0F8FF;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer{
  background: #474954;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #474954;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #474954;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #474954;
  }
}
#hel
{
  font-weight: 600;
  font-size: larger;
}